version 17.4R1;
system {
    host-name {{ inventory_hostname }};
    time-zone {{ timezone }};
    root-authentication {
        encrypted-password {{ root_hash }};
    }
    login {
{% for user in users %}
        user {{ user.name }} {
            class {{ user.class }};
            authentication {
{% if user.sshrsa is defined %}
                ssh-rsa "{{ user.sshrsa }}";
{% endif %}
{% if user.hash is defined %}
                encrypted-password "{{ user.hash }}";
{% endif %}
            }
        }
{% endfor %}
    }
    services {
        ssh {
            root-login allow;
        }
        telnet;
        netconf {
            ssh;                        
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
{% for ntp_server in ntp_servers %}
        server {{ ntp_server }};
{% endfor %}
    }
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                address {{ lookup('ipamdc', 'mgmt_ip') }};
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ lookup('ipamdc', 'lo_ip') }};
            }
        }
    }
{% for int in range(0,spine_count) %}
    xe-0/0/{{ int }} {
        unit 0 {
            family inet {
                address {{ lookup('ipamdc', 'leaf_spine-' + (int + 1)|string ) }};
            }
        }
    }
{% endfor %}
}
routing-options {
    autonomous-system {{ lookup('ipamdc', 'asn') }};
}
protocols {
    bgp {                               
        group underlay {
            type external;
            export export-ditrect;
            multipath multiple-as;
{% for n in range(0,spine_count) %}
            neighbor {{ lookup('ipamdc', 'bgp_peer_spine-' + (n + 1)|string ) }} {
                peer-as {{ lookup('ipamdc', 'peer_asn_spine-' + (n + 1)|string ) }};
            }
{% endfor %}
        }
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}
policy-options {
    policy-statement export-ditrect {
        term 1 {
            from protocol direct;
            then accept;
        }
    }                                   
}
